@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
                    
@foreach(string s in Model.Keys)
{
    var item = Model[s];
    
    if (!String.IsNullOrEmpty(@item.Link))
    {
        <a href="@item.Link" target="_blank">@item.Title</a>
    }
    else
    {
        <b>
            @item.Title 
            @if(@item.Modified != new DateTime())
            {
                @item.Modified.ToShortDateString()
            }
        </b>
    }
    @foreach (String t in @item.Tag)
    {
        <span style="color:darkgoldenrod; text-shadow: 0 0 5px #0000FF;">@t</span>
    }
    
    <br />
    @item.Details<br /><br />
}